In [2]:
import pandas as pd
import numpy as np

All state details

In [3]:
df_ap=pd.read_csv('all_bus_details_ap.csv')
df_k=pd.read_csv('all_bus_details_k.csv')
df_t=pd.read_csv('all_bus_details_t.csv')
df_kad=pd.read_csv('all_bus_details_kad.csv')
df_r=pd.read_csv('all_bus_details_r.csv')
df_sb=pd.read_csv('all_bus_details_sb.csv')
df_hp=pd.read_csv('all_bus_details_hp.csv')
df_a=pd.read_csv('all_bus_details_a.csv')
df_up=pd.read_csv('all_bus_details_up.csv')
df_b=pd.read_csv('all_bus_details_b.csv')

In [6]:
redbus_df=pd.concat([df_ap,df_k,df_t,df_kad,df_r,df_sb,df_hp,df_a,df_up,df_b],ignore_index=True)
redbus_df

,Route_name,Route_link,Bus_name,Bus_type,Departing_time,Duration,Reaching_time,Star_rating,Price,Seat_availability
0,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,APSRTC - 4894,"SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)",19:45,07h 15m,03:00,4.8,INR 469,1 Seat available
1,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,APSRTC - 2573,AMARAVATHI (VOLVO / SCANIA A.C Multi Axle),19:45,06h 45m,02:30,3.3,INR 720,3 Seats available
2,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,APSRTC - 3622,"SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)",20:00,07h 35m,03:35,4.4,INR 412,5 Seats available
3,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,APSRTC - 2678,NIGHT RIDER (SEATER CUM SLEEPER),20:00,07h 00m,03:00,3.6,INR 639,3 Seats available
4,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,APSRTC - 2549,NIGHT RIDER (SEATER CUM SLEEPER),20:15,06h 00m,02:15,3.1,INR 595,1 Seat available
...,...,...,...,...,...,...,...,...,...,...
6768,Gopalganj (Bihar) to Lucknow,https://www.redbus.in/bus-tickets/gopalganj-to...,Samay Shatabdi Travels Pvt Ltd,AC Sleeper (2+1),22:01,08h 15m,06:16,4.8,INR 999,20 Seats available
6769,Gopalganj (Bihar) to Lucknow,https://www.redbus.in/bus-tickets/gopalganj-to...,Travel Point World LLP,A/C Seater / Sleeper (2+2),20:20,07h 00m,03:20,1.6,1749,38 Seats available
6770,Gopalganj (Bihar) to Lucknow,https://www.redbus.in/bus-tickets/gopalganj-to...,Baba Khatushyam Travels Pvt Ltd,A/C Seater / Sleeper (3+1),19:00,08h 00m,03:00,1.5,INR 1050,57 Seats available
6771,Gopalganj (Bihar) to Lucknow,https://www.redbus.in/bus-tickets/gopalganj-to...,Shree Balajee Travels And Cargo,A/C Seater / Sleeper (2+2),20:00,07h 30m,03:30,1.2,1079,72 Seats available
6772,Gopalganj (Bihar) to Lucknow,https://www.redbus.in/bus-tickets/gopalganj-to...,Shree Balajee Travels And Cargo,A/C Sleeper (2+1),23:01,05h 00m,04:01,1.2,1349,36 Seats available

In [11]:
redbus_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6773 entries, 0 to 6772
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Route_name         6773 non-null   object
 1   Route_link         6773 non-null   object
 2   Bus_name           6773 non-null   object
 3   Bus_type           6773 non-null   object
 4   Departing_time     6773 non-null   object
 5   Duration           6773 non-null   object
 6   Reaching_time      6773 non-null   object
 7   Star_rating        6773 non-null   float64
 8   Price              6773 non-null   float64
 9   Seat_availability  6773 non-null   object
dtypes: float64(2), object(8)
memory usage: 529.3+ KB

In [10]:
redbus_df["Price"]=redbus_df["Price"].str.replace("INR","")
redbus_df["Price"]=redbus_df["Price"].astype(float)
redbus_df["Price"].fillna(0)

0        469.0
1        720.0
2        412.0
3        639.0
4        595.0
         ...
6768     999.0
6769    1749.0
6770    1050.0
6771    1079.0
6772    1349.0
Name: Price, Length: 6773, dtype: float64

In [9]:
redbus_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6773 entries, 0 to 6772
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Route_name         6773 non-null   object
 1   Route_link         6773 non-null   object
 2   Bus_name           6773 non-null   object
 3   Bus_type           6773 non-null   object
 4   Departing_time     6773 non-null   object
 5   Duration           6773 non-null   object
 6   Reaching_time      6773 non-null   object
 7   Star_rating        6773 non-null   float64
 8   Price              6773 non-null   object
 9   Seat_availability  6773 non-null   object
dtypes: float64(1), object(9)
memory usage: 529.3+ KB

In [7]:
redbus_df=redbus_df.replace({np.nan:None})

In [5]:
redbus_df.to_csv('redbus_df.csv',index=False)

Create Table by Postgres SQL

In [1]:
import pandas as pd
from sqlalchemy import create_engine

data=pd.read_csv('redbus_df.csv')

host="localhost"
port="5432"
database="sqldb"
user="postgres"
password="181506"

engine_string = f"postgresql://{user}:{password}@{host}:{port}/{database}"

engine = create_engine(engine_string)

table_name = "project_table"

data.to_sql(table_name, engine,if_exists='replace', index=False)  

print("Data successfully pushed to PostgreSQL table!")

Data successfully pushed to PostgreSQL table!